body {
    font-family: 'Arial', sans-serif;
}

.logo {
    font-family: 'Imperial Script', cursive;
    font-size: 50px;
}

.section1 {
    background: #dcdcdc;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    border: 2px solid white;
    padding: 60px 80px;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
}

.text-box h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
}

.text-box .btn {
    background: white;
    border: none;
    padding: 12px 25px;
    font-weight: bold;
}

.about p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: auto;
}

.products .col-md-3 {
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 300px;
}
.products .col-md-6 {
    padding: 15px;
    height: 400px;
    width: 200px;
}
.product_big{
    padding: 15px;
    margin-right: 15px;
    height: 600px;
    width: 450px;
    background: #dcdcdc;
    margin-bottom: 15px;
    }
.products .product1 {
    width: 250px;
    height: 300px;
    background: #dcdcdc;
}
/*.products .product2{*/
/*    width: 100%;*/
/*    height: 200px;*/
/*    background: #dcdcdc;*/
/*    margin-bottom: 10px;*/
/*}*/
.products .price {
    font-weight: bold;
    text-align: center;
}
.products .btn-dark {
    display: block;
    width: 100%;
    text-align: center;
}

.scent-families h2 {
    margin-top: 150px;
    font-size: 2rem;
    font-weight: bold;
}

.scent-families ul {
    list-style: none;
    padding: 0;
}

.scent-families li {
    font-size: 1.2rem;
    margin: 5px 0;
}

.footer {
    background: #f8f9fa;
    padding: 20px 0;
}

.footer p {
    font-size: 1.5rem;
    font-weight: bold;
}